.table {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width:40%;
}

.row {
  display: contents;
}

.cell {
  border: 1px solid #ddd;
  padding: 8px;
}